.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #000000);
}

.container {

    background-color: white;
    width: 100%;
    padding: 30px;
    min-width: 450px;
    border-radius: 16px;

}

h1 {
    color: #333333;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}